:root {
    --btn-bg: #0B60A9;
}

.header {
    width: 100%;
    /* height: 100px; */
    background: #091432;
    /* background: rgba(255, 255, 255, 0.1); */
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 0.8rem;
    font-family: 'Noto Sans', sans-serif;
    z-index: 9;
}

.header-func {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.header-func .left-menu {
    display: flex;
    gap: 10px;
}

.header-func .left-menu img {
    height: 0px;
}

.header-func .right-menu {
    display: flex;
    gap: 15px;
    align-items: center;
}

.header-func .right-menu a {
    display: flex;
}

.header-func .left-menu a {
    display: flex;
    align-items: center;
    gap: 5px
}

.header-func .right-menu img {
    width: 20px;
}

.btn {
    padding: 5px 10px;
    background: #dedede;
    border-radius: 3px;
}

.btn.primary {
    background: var(--btn-bg);
}

#header-calc-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.header-main {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-main .header-logo {
    height: 50px;
}

.header-main .right-menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

.banner-swiper {
    width: 100%;
    background: #091432;
}

.banner-swiper .item {
    background-size: cover;
    background-position: center;
    padding: 60px 0;
    height: 70vh;
}